- provide(:title, "Home")

%center.jumbotron
  %h1.home.title Organize your life in Australia
  %p Many people now come to the land down-under for a Working Holiday Visa. This website is here to help them exchange and share information. 

  
