<% provide(:title, "About") %>

    
	<h1>About</h1>
    <p>
    Many people now come to the land down-under for a Working Holiday Visa. This website is here to help them exchange and share information. 
    </p>
