- provide(:title, "About")

.static-about
  %h1 A website designed for 
  %h1 working-travellers in Australia
  %h4 What is this website about? 
  %p If you are reading this, you are much probably under 30 and you have left (or you will) your family, home, job, studies and maybe girlfriend to discover Australia.
  %b First of all: congrats mate, that's brilliant!
  %p Now that this is established, let's think this through. First, you will need a job. Second, you might want to travel with other people (crossing the Australian deserts alone is not the brightest idea you could have). Finally, even though you probably do not want to hear this right now, you will have to come back home sometimes (be it to show your friends that you didn't end up in a crocodile). And once you're back, you might not want to hear that you did nothing for one year, as - let's agree - most European employers tend to do when you say you spent one year in Australia. 
  %p Let's prove these guys wrong.
  %b This website is designed to help you with all that! 
  %h4 How does it work ? 
  %p The website will allow you to : 
  %b.fa.fa-check 
  Keep track of everything you do in Australia : add your travel and job experiences in your profile and create your own online travel diary.
  %br
  %b.fa.fa-check 
  Add your skills and experiences, highlighting what they brought you, to convince new employers to hire you. 
  %br
  %b.fa.fa-check 
  Find jobs more easily thanks to our list of job offers - targetting profiles like yours! - throughout Australia. 
  %br
  %b.fa.fa-check 
  Ask for recommendations from your former employers, to show to the next ones that you are good and reliable. 
  %br
  %b.fa.fa-check 
  Once you have enough money to travel, find cotravellers on our list of travel offers, or post your own offer and get in contact with nice people.
  %br
  %b.fa.fa-check 
  On your profile, ask for recommendations from your former cotravellers, to show how cool it is to travel with you! 

  
