- provide(:title, "Contact")

.static-contact
  %h1 Contact
  %p If you have comments, requests, questions, complains or if you just need to have a chat about Australia, write us at myaustralianbook@gmail.com 
