- provide(:title, "Contact")
.page-title
  %h1 Contact
.static-contact
  %p If you have comments, requests, questions, complains or if you just need to have a chat about Australia, write us at myaustralianbook@gmail.com 
