<% provide(:title, "Help") %>
<h1>Help</h1>
  <p>
     You are a Workholider? You need some help? 
   <br />
   <br />
     Please feel free to contact us at info@myaustralianwhv.com 
   <br />
   <br />
     You can also seek for help among other Workholiders on our forums! 
  </p>
