- provide(:title, "Home")
%center.jumbotron
  %h1 Home
  %p This is the home page of the website for Workholiders in Australia
  = link_to new_user_registration_path, class: "btn btn-primary btn-lg" do
    %b.fa.fa-check
    Sign up now!

