= simple_form_for(@opinion) do |f|
  = f.input :comment
  = f.input :note, input_html: {type: 'number', class: 'rating'}
  
  = f.submit "Post your recommendation", class: "btn btn-default", data: { disable_with: "Please wait..." }
