%h5 Recommendation request
  
A former employer of yours asked for your recommendation!

= link_to "Click here to post a recommendation", edit_job_recommendation_path(job, recommendation, token: recommendation.token), class: "btn btn-default"

Many thanks! 

The Travelling Bees Team


