= simple_form_for([@job, @recommendation]) do |g|

  = g.input :recipient_email, label: "Fill in the email address of your employer", placeholder: "Ex:employer@example.com"
  = g.submit "Send your request", class: 'btn btn-default'
