%h1 Your recommendation

.col-md-9
  = recommendation.score
  = recommendation.comment
  
.col-md-3
  - if can? :destroy, @recommendation
    = link_to @recommendation, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default" do
      %b.fa.fa-times
  = link_to 'Back', user_path(user), class: "btn btn-default"