.static-contact {
  h1 {
    font-size: 200%;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  
  p {
    font-size: 13px;
    text-align: justify;
    line-height: 25px;
  }
}