footer {
  margin-top: 185px;
  color:darkgreen;
  background-color:#F0AD4E;
  padding-top: 5px;
  
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  a {
  color:darkgreen;
  }
  a:hover {
  color:green;
  }
}
