footer {
  margin-top: 185px;
  color: rgb(1,87,60);
  background-color: rgb(255,183,19);
  padding-top: 5px;
  weight: bold;
  
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  a {
  color:darkgreen;
  }
  a:hover {
  color:green;
  }
}
