footer {
  color: gray;
  border-top: 1px solid lightgray;
  text-align: center;
  
  a {
  color: gray;
  }
  a:hover {
  color: black;
  text-decoration: none;
  }
}

.line-footer {
  padding-top: 15px;
}