.header.name {
  color: #333;
  font-size: 3.6rem;
  line-height: 1.3333;
  margin-bottom: 0px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-right: 4,661%;
  padding-left: 4,661%;
  background-color: #FFF;
  height: 100%;
  text-align: center;
}

.header.surname {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}
  