center.jumbotron {
  background-color: white; 
}

h1.home.title {
  letter-spacing: 10px;
  font-size: 250%;
}

.advertising {
  font-family: helvetica;
  color: gray;
  text-transform: uppercase;
  font-size: 150%;
  letter-spacing: 2px;
  text-align: left;
  line-height: 180%;
}

adbutton {
  font-size: 250%;
  color: #F25F70;
  margin: 5px;
}
