.job.well {
  padding-top: 0px; 
  padding-left: 0px;
  padding-bottom: 5px;
  background-color: white;
  border: 0px;
  border-radius: 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.43), -1px 0px 0px rgba(0, 0, 0, 0.03), 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.12);

  .label.label-info {
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    border-radius: 0px;
  }
}
 
.job.name {
  text-transform: uppercase;
}
  
.job.else {
  padding-left: 15px;
  padding-top: 4px;
  
  .job.dates {
    color: gray;
    font-family: verdana;
    font-weight: light;
    font-size: 13px;
  }
}

.job.places {
  border-bottom: 1px solid lightgray;
  margin-bottom: 2px;
  padding-bottom: 5px;
}

.job.description {
  padding-top: 1px;
}

.job.actions {
  padding: 10px;
}
