#logo {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: Helvetica, Sans-Serif;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  background-color: #F25F70;
  color: white;
  border: 0 !important;
  margin-bottom: 0px;
  height: 60px;
}

.collapse.navbar-collapse {

  ul.nav.navbar-nav.navbar-right {
    display: block;
    margin-right: 18%;
    list-style: outside none none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    color: white;
    height: 60px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: black;
      text-decoration: none;
    }  
  }

  li { 
    display: inline-block;
    border: 0px none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: -moz-use-text-color;
    border-right-color: -moz-use-text-color;
    border-bottom-color: -moz-use-text-color;
    border-left-color: -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    padding: 0.75em 1em 0.75em 0px;
    padding-top: 0.75em;
    padding-right: 1em;
    padding-bottom: 0.75em;
    padding-left: 0px;
  
    a {
      color: white;
      &:hover {
        color: #333;
        text-decoration: none;
      }
    }
  }
} 
 
.navbar-btn {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 130%;
}
