.offer {
  margin: 5px;
}

.sector {
  margin: 0px;
}

.label.label-warning {
  display: inline-block; 
  width: 80px !important;
  text-align: centre;
  padding: 3px;
}

.core {
  margin-left: 90px;
  margin-top: -20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}

h4 { 
  margin-top: 3px;
  margin-bottom: 3px;
  color:#505050;
  font-size: 100%;
  font-weight: bold;
}

.offer-position {
  color:#5CB85C; 
  text-decoration:none;
  font-size: 115%;
}

.offer-position:hover {
  color:#F0AD4E;
  text-decoration:none;
}

.col-xs-4 {
  float:right;
  padding: 10px;
}

b.name {
  color:#686868;
}

.description {
  font-size: 90%;
  font-family: arial;
  font-style: italic;
}

.dates {
  font-family: arial; 
  font-size: 90%;
  color:grey
}

.new {
  margin-left: 65px;
}

.btn.btn-success {
  font-size: 120%;
  margin-left: 15px;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding:25px;
}