/* universal */

body {
  padding-top: 60px;
  margin-top: 0px;
  margin-right: 5%;
  margin-bottom: 0px;
  margin-left: 5%;  
  height: 100% !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.wrapper {
	min-height:100%;
	position:relative;
}

.container {
	padding-bottom: 350px;
}

.footer {
	height: auto;
  width: 100%;
	position:absolute;
	bottom:0;
	left:0;
}