.trip-index {
  background-color: #FFF;
  padding-top: 30px;
  position: relative;

  h1 {
    border-bottom: 1px solid lightgray;
    font-size: 200%;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}

.well.trip {
  padding-top: 10px; 
  padding-left: 0px;
  padding-bottom: 5px;
  background-color: white;
  border: 0px;
  border-bottom: 1px solid lightgray;
  border-radius: 0px;
  box-shadow: 0px;
  
  .label.label-success {
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    border-radius: 0px;
    min-width: 170px;
  }
} 

.trip.core { 
  h5 { 
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 5px;
  }
}

.trip.dates {
  color: gray;
  letter-spacing: 1px;
  font-size: 12px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px
}

.trip.description {
  font-style: italic;
  font-size: 12px;
  margin-right: 10px;
}