.trip-index {
  background-color: #FFF;
  padding-top: 30px;
  position: relative;

  h1 {
    border-bottom: 1px solid lightgray;
    font-size: 200%;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}

.well.trip {
  padding-top: 10px; 
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: white;
  border: 0px;
  border-radius: 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.43), -1px 0px 0px rgba(0, 0, 0, 0.03), 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.12);
  
  .label.label-warning {
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
    min-width: 170px;
  }
} 

.trip.core { 
  h5 { 
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 5px;
  }
}

.trip.dates {
  color: gray;
  letter-spacing: 1px;
  font-size: 12px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px
}

.trip.description {
  font-style: italic;
  font-size: 12px;
  margin-right: 10px;
}

.col-md-4.trips.actions { 
  padding-top: 10px; 
}