.trip-index {
  background-color: #FFF;
  padding: 3em 55px 3em 201px;
  position: relative;

  h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 200%;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
}

.core {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.dates {
  color: gray;
  letter-spacing: 1px;
  font-size: 14px;
}