.well.picture {
  width: 200px;
  height: 200px;
}

.well.information {
  background-color: #FFF;
  color: #000;
  line-height: 25px;
  padding: 0px;
  border: 0px;
  box-shadow: none;

  .label.label-default {
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    border-radius: 0px;
    background-color: lightgray;
  }
}  

.job.information {
  padding-top: 25px;
}

.well.sectors {
  background-color: #FFF;
  color: #000;
  line-height: 25px;
  padding: 0px;
  border: 0px;
  box-shadow: none;

  .label.label-default {
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    border-radius: 0px;
    background-color: lightgray;
  }
}  

.well.skills {
  background-color: #FFF;
  color: #000;
  line-height: 25px;
  padding: 0px;
  border: 0px;
  box-shadow: none;

  .label.label-default {
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    border-radius: 0px;
    background-color: lightgray;
  }
}  

.well.languages {
  background-color: #FFF;
  color: #000;
  line-height: 25px;
  padding: 0px;
  border: 0px;
  box-shadow: none;

  .label.label-default {
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    border-radius: 0px;
    background-color: lightgray;
  }
}  

.well.computer {
  background-color: #FFF;
  color: #000;
  line-height: 25px;
  padding: 0px;
  border: 0px;
  box-shadow: none;

  .label.label-default {
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    margin-right: 10px;
    border-radius: 0px;
    background-color: lightgray;
  }
}  

.rightpart {
  .col-xs-8 {
    padding-left: 15px; 
  }
}

.row.header {
  margin-left: 0px;
}

.well.well-lg.about {
  background-color: white;
  border: 1px solid gray;
  padding: 14px;
  border-radius: 2px;
}

.aboutme {
  text-transform: uppercase;
  margin-bottom: 2px;
}

.experiences {
  h2 {
    text-transform: uppercase;
  }
}

.row.add {
  margin: 0px;
  padding: 0px;
  
  .col-xs-6 {
  padding: 0px;
  }
}


