/* Left part of the profile */

.well.picture {
  width: 150px;
  height: 150px;
  border: 1px solid lightgray;
  padding: 0px;
  border-radius: 0px
}

.left-information {
  border: 0px;
  background-color: white;
  border-radius: 0px;
  border-right: 1px solid lightgray;

  .sidebox {
  background-color: white;
  color: #000;
  margin-bottom: 20px;
  border: 0px solid white;
  border-radius: 0px;

    .left-title {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      float: left;
      margin-right: 10px;
      border-radius: 0px;
      border-bottom: 1px solid lightgray;
      letter-spacing: 3px;
    }
  
    .content {
      padding-bottom: 5px; 
    }  
  }

  .job-information {
    padding-top: 25px;
    padding-bottom: 5px;
  }
}

/* Right part of the profile */
  
.right-information {
    padding-left: 15px; 

  .user-name {
    h1 {
    margin-left: 0px;
    }
  }

  .about {
    background-color: white;
    border: 1px solid rgba(211, 211, 211, 0.33);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.43), -1px 0px 0px rgba(0, 0, 0, 0.03), 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.12);
    padding: 14px;
    border-radius: 0px;
 
    .about-me {
      text-transform: uppercase;
      margin-bottom: 2px;
    }
  }

  .experiences {
    h2 {
      text-transform: uppercase;
      letter-spacing: 12px;
      font-size: 24px;
      color: gray;
    }
  }

  .add {
    margin: 0px;
    padding: 0px;
  }
}
    
/* Edit & New profile */

.edit-actions {
  margin-bottom: 10px;
}