-provide(:title, "Jobs")
%h1 Looking for a job

%table.table
  %thead
    %tr
      %th Job
      %th Location
      %th Description
      %th Employee

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.position
        %td= job.location
        %td= job.description
        %td= link_to job.user.name, user_path(job.user)