-provide(:title, "Sectors")
%h1 All sectors

  -# Artist: Icons8 Iconset: Windows 8 Icons (2122 icons) License: Linkware (Backlink to http://icons8.com required) Commercial usage: Allowed License URL: http://icons8.com/license/ 

%table.table
  %thead
    %tr
      %th
      %th Name

  %tbody
    - @sectors.each do |sector|
      %tr
        %td= link_to 'X', sector, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= link_to sector.code, edit_sector_path(sector)
        %td= link_to image_tag sector.image.url(:icon)
                
%p
  = link_to "Add a sector", new_sector_path
  
