-provide(:title, "Users")
%h1 Liste des PVTistes en Australie

%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Job

  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.name
          = link_to "Profile",  user_path(user)
        %td= user.email
        %td= user.headline
