%footer.footer
  .container-fluid
    .col-xs-4
      %ul
        %li= link_to "About us", about_path
        %li= link_to "Contact", contact_path    
    .col-xs-4
      %ul
        %li= link_to "Travel offers", trips_path
        %li= link_to "Job offers", jobs_path
    .col-xs-4
      %ul
        Terms & conditions 
        %br
        Confidentiality

    