%h5 Recommendation request

%p Dear Madam, dear Sir, 

%p A former employer of yours asked for your recommendation via our website! 

%p It will only take you a few seconds to note your former employer and leave a short comment, to help him with his/her future employers!
  
%p= link_to "Click here to post a recommendation", edit_job_recommendation_url(@job, @recommendation, token: @recommendation.authentication_token), class: "btn btn-default"

%p Many thanks in advance, 

%p Best regards,

%p The Travelling Bees Team 